* {
  box-sizing: border-box;
}
/* body対象 */
body {
  font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial,
    sans-serif;
  font-size: 15px;
  max-width: 1080px;
  margin: 0 auto 0 auto;
}
/* PC用ヘッダー */
header {
  display: flex;
  justify-content: space-between;
}
/* ナビゲーションのリンクの装飾設定 */
#nav-pc {
  font-size: 14px;
}

#nav-pc ul {
  display: flex;
  text-align: right;
}
#nav-pc li {
  list-style: none;
}

#nav-pc a {
  text-decoration: none;
  margin-left: 20px;
}
#nav-pc a:hover {
  text-decoration: underline;
}
/* メイン要素上部 */
#main-visual {
  position: relative;
  height: 400px;
}
#main-visual > img {
  max-width: 600px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
}
#main-message {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #04414a;
  color: #ffffff;
  border-radius: 0 0 150px 0;
  width: 100%;
  height: 100%;
  max-width: 620px;
  z-index: 10;
}

#main-message > h1 {
  font-size: 60px;
  margin: 100px 0 0 50px;
}
#main-message > p {
  font-size: 28px;
  margin: 0 0 0 50px;
}
/* メイン要素中部 */

#concept-flex {
  display: flex;
}

h2::after {
  content: url(images/line.png);
  margin-left: 10px;
}

h3 {
  font-size: 27px;
}

#concept {
  margin: 80px auto 80px auto;
}
#concept-flex {
  display: flex;
  text-align: center;
}
#concept-flex > div {
  width: 50%;
  margin: 20px;
}
.concept-photo {
  width: 80%;
}
.concept-flex > div {
  width: 50%;
  margin: 20px;
}

/* プロダクト要素 */

#product {
  background-color: #fafafa;
  margin: 20px 0 80px 0;
  padding: 10px 40px 0px 40px;
}
#product .product-flex {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}
#product-left,
#product-right {
  width: 50%;
  box-sizing: border-box;
}
#product-right {
  margin-top: 80px;
}

#product-left > div {
  position: relative;
  height: 480px;
  margin-right: 20px;
}
#product-right > div {
  position: relative;
  height: 480px;
  margin-left: 20px;
}
.product-photo {
  max-width: 100%;
}

/* 説明文の枠 */
.product-explain {
  background-color: #ffffff;
  position: absolute;
  left: 0;
  bottom: 50px;
  margin: 0 40px 0 40px;
  padding: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
}

/* 説明文の英語 */
.product-explain > span {
  color: #04414a;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

/* 説明文の見出し */
.product-explain > h3 {
  margin: 5px 0 5px 0;
}

/* 説明文 */
.product-explain > p {
  font-size: 14px;
  margin: 0;
}
/* 会社概要 */
#company {
  margin: 80px auto 80px auto;
}
#company-table {
  width: 100%;
}
.tableheader {
  text-align: left;
  padding: 20px;
  border-bottom: #04414a;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  width: 100px;
}
.tableheader-first {
  text-align: left;
  padding: 20px;
  border-top-color: #04414a;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.cell-first {
  padding: 30px;
  border-top-color: #ececec;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-color: #ececec;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.cell {
  padding: 30px;
  border-bottom-color: #ececec;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
